################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/**/bin
/**/obj
/Jurify.Advogados.Api/Jurify.Advogados.Api.csproj.user
/Jurify.Advogados.Api/Properties/PublishProfiles
